# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions   
#groq   
pip     
# pip      
setuptools   
typing-extensions
wheel
svglib
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
async-timeout
attrs
backoff  
black
blinker
certifi
charset-normalizer
click
dataclasses-json
distro
dnspython
exceptiongroup
Flask
frozenlist
greenlet
grpcio
grpcio-tools
h11
h2
hpack

#httpx
#httpcore

httpcore
httpx

#httpcore
#httpx

httpx-sse
hyperframe
idna
itsdangerous
Jinja2
jiter
jsonpatch
jsonpointer

langchain
langchain-community
langchain-core
langchain-openai
langchain-qdrant
langchain-text-splitters

langfuse
langsmith
MarkupSafe
#markupsafe
marshmallow
multidict
mypy-extensions
numpy
openai
orjson
packaging
pathspec
platformdirs
portalocker
propcache
protobuf
pydantic
pydantic-settings
pydantic_core
pymongo
python-dotenv
PyYAML
qdrant-client
regex
requests
requests-toolbelt
sniffio
SQLAlchemy

tenacity
tiktoken
tomli
tqdm
typing-inspect
typing_extensions

#torch 
#transformers 
#sentencepiece

urllib3
Werkzeug
wrapt
yarl
azure-cosmos
fastapi
uvicorn
gradio
azure-storage-file-datalake
# googletrans

jinja2 
reportlab
weasyprint
xhtml2pdf
pdfkit

google-auth 
google-auth-oauthlib 
google-auth-httplib2 
google-api-python-client 

pytest
pytest-mock

pymupdf 
pdf2image 
pillow
